body {
  font-family: "Roboto", sans-serif;
}

.mainTitle {
  text-align: center;
}

.reverse {
  background-color: lightblue;
}

.reverse,
.likes,
.duplicates,
.phone,
.alphabet {
  width: 100%;
  height: auto;
  padding: 25px 50px;
  display: inline-block;
}

#demo,
#result,
#result2,
#result3,
#result4 {
  display: inline-block;
}

.likes {
  background-color: lightcoral;
}

.notice {
  font-size: small;
  font-style: italic;
}

.duplicates {
  background-color: lightcyan;
}

.phone {
  background-color: lightgoldenrodyellow;
}

.alphabet {
  background-color: lightgray;
}
