body {
  font-family: "Roboto", sans-serif;
}

.mainTitle {
  text-align: center;
}

.reverse {
  background-color: lightblue;
  width: 100%;
  height: auto;
  padding: 25px 50px;
  display: inline-block;
}

#demo,
#result,
#result2 {
  display: inline-block;
}

.likes {
  background-color: lightcoral;
  width: 100%;
  height: auto;
  padding: 25px 50px;
}

.notice {
  font-size: small;
  font-style: italic;
}

.duplicates {
  background-color: lightcyan;
  width: 100%;
  height: auto;
  padding: 25px 50px;
}
